<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="70ce82eb-fabe-43a2-89c4-444e03dc8f82" name="testing-content-project">
  <con:settings id="28a42342-d133-4242-b17b-1865606d38ac">
    <con:setting id="d4b194ea-9025-4d1a-bf69-3e4acd860e62fileName">Sample-REST-Test-Suite</con:setting>
    <con:setting id="70ce82eb-fabe-43a2-89c4-444e03dc8f82fileName">testing-content-project</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
